body {
    background-size: cover;
    background-image: url("../img/restaurant3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    background-color: rgba(10, 54, 53, 0.25);
    max-width: 600px;
    margin: 5% 8%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio:hover {
    background-color: rgba(10, 54, 53, 0.45);
    box-shadow: 7px 7px 15px rgba(196, 166, 1);
}

p {
    margin: 6% 10%;
    border-radius: 15px;
    padding: 5%;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(10, 54, 53, 0.45);
    color: lightgrey;
    background-color: rgba(10, 54, 53, 0.65);
}

header {
    font-size: 20px;
    color: rgba(196, 166, 1);
    background-color: #8C2C2c;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: 10px;
    border-width: 6px;
    border-style: ridge;
    border-color: rgba(10, 54, 53, 0.45);
}

h2 {
    font-size: 30px;
    color: rgba(196, 166, 1);
    background-color: #8C2C2c;
    border-collapse: 10px;
    border-width: 6px;
    border-style: ridge;
    border-color: rgba(10, 54, 53, 0.45);
    padding: 1% 8%;
    border-radius: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one {
    border-radius: 1%;
    width: 60%;
    height: auto;
    border-width: 8px;
    border-bottom: 40px whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    box-shadow: 7px 7px 15px #000000;
    margin: 10px 10px 10px 10px;
    transform: rotate(-7deg);
    float: right;
}

.two {
    border-radius: 1%;
    width: 60%;
    height: auto;
    border-width: 8px;
    border-bottom: 40px whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    box-shadow: 7px 7px 15px #000000;
    margin: 10px 10px 10px 10px;
    transform: rotate(6deg);
    float: right;
}

button {
    margin-bottom: 30px;
    height: 45px;
    width: 120px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 8px;
    background-color: black;
}

button:hover {
    background-color: #474747;
}