/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #FFF9E2;
}
html,
body {
  font-family: 'Roboto Slab', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.mobile-header {
  background-color: #8C2C2c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  .mobile-header {
    display: none;
  }
}
.mobile-header p {
  color: #F0C352;
  text-align: center;
}
.mobile-header i {
  color: #fcfcfc;
  font-size: 3rem;
  cursor: pointer;
}
.desktop-header {
  display: none;
}
@media (min-width: 1000px) {
  .desktop-header {
    background-color: #8C2C2c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.desktop-header i {
  color: #fcfcfc;
  font-size: 3rem;
  padding: 1%;
  cursor: pointer;
  border: 1px solid black;
}
.desktop-header p {
  color: #F0C352;
  text-align: left;
  border: 1px solid black;
}
.desktop-header a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fcfcfc;
  padding: 3%;
  margin-right: 5%;
  border: 1px solid black;
}
.download,
.join {
  background-color: #8C2C2c;
  color: #fcfcfc;
  padding: 1%;
  margin: 1% 5%;
  border-radius: 5px;
  cursor: pointer;
}
.signup {
  background-color: #FFF9E2;
  color: #8C2C2c;
  border: 1px solid #8C2C2c;
  padding: 1%;
  margin: 1% 5% 10%;
  border-radius: 5px;
  cursor: pointer;
}
.top-content {
  display: flex;
  flex-direction: column;
}
.top-content h1,
h2,
p {
  padding-left: 5%;
}
.top-content h1 {
  color: #8C2C2c;
  font-size: 4.8rem;
  font-weight: bold;
  margin: 2% 0;
}
.top-content h2 {
  font-size: 3rem;
}
.top-content p {
  font-size: 1.6rem;
}
.top-content p span {
  color: #8C2C2c;
}
.desktop {
  display: none;
}
@media (min-width: 1000px) {
  .desktop {
    display: inline-block;
  }
}
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}
.middle-content {
  display: none;
}
.banner img {
  width: 100%;
  height: 144px;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bottom-content h3 {
  color: #8C2C2c;
  padding-bottom: 3%;
}
.reverse {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1000px) {
  .reverse {
    flex-direction: column;
  }
}
.join {
  padding: 1% 37%;
  margin: 5% 5%;
}
