.mobile-header {
    background-color: @pri-red;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.mobile-header p {
  color: @sec-yellow;  
  text-align: center;
}

.desktop-header {
    display: none;
}